@import "tailwindcss";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans text-slate-900;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://hoangmaistarschool.edu.vn/anhck/nen.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
